table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    color: #37003c;
    display: table;
    /* border-collapse: separate; */
    text-indent: initial;
    border-spacing: 2px;
    border-color: gray;
    height: 3.1rem;
}

table thead th {
    padding: 0.5rem 0.8rem 0.5rem 1.6rem;
}

table thead th.league-table-pos-header {
    text-align: left;
}

table thead th.league-table-team-header {
    padding-left: 0.8rem;
    text-align: left;
}

table thead tr {
    background-color: #fbfafa;
    border-bottom: 0.1rem solid #ebe5eb;
    font-size: 1.2rem;
    color: #87668a;
    font-family: PremierSans-Heavy,Arial,Helvetica Neue,Helvetica,sans-serif;
    font-weight: 400;
    line-height: 1.8rem;
}

.tablist>li:focus, .tablist>li:hover, .tablist>li:is(.active,.is-active) {
    font-family: PremierSans-Heavy,Arial,Helvetica Neue,Helvetica,sans-serif;
    font-weight: 400;
}


.tablist li {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 0.8rem 1.6rem;
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: #37003c;
    background-color: #f5f2f5;
    border-radius: 0.8rem 0.8rem 0 0;
    letter-spacing: -.4px;
    transition: background-color .1s,font-family .1s;
}   

.tablist li:is(.active,.is-active) {
    background-color: #fff;
}


.tablist {
    display: flex;
    gap: 0.8rem;
    border-bottom: 0.1rem solid #f5f2f5;
}

.league-table tr {
    height: 5.6rem;
    font-size: 1.6rem;
}

table tbody td{
    padding-left: 0.8rem;
}